body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6dcbf;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 30px auto;
  border: 3px solid #000;
}

textarea {
  width: 70%;
  height: 80vh;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 11px;
  resize: none;
}

.side-panel {
  width: 30%;
  border-left: 3px solid #000;
  padding: 15px;
  text-align: center;
  background: #fff;
}

.stats {
  font-weight: bold;
  color: #003366;
  margin-bottom: 15px;
}

button {
  cursor: pointer;
}

#saveBtn,
#pdfBtn,
#darkModeBtn {
  display: block;
  width: 80%;
  margin: 8px auto;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

#saveBtn {
  background: #66cc66;
  color: #fff;
}

#pdfBtn {
  background: #4d79ff;
  color: #fff;
}

#darkModeBtn {
  background: #333;
  color: #fff;
}

.font-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-top: 15px;
}

.hint {
  font-size: 12px;
  margin-top: 10px;
  color: #003366;
}

.mic {
  margin-top: 25px;
}

#micBtn {
  font-size: 40px;
  background: none;
  border: none;
}

/* DARK MODE */
.dark body {
  background: #1e1e1e;
}

.dark textarea {
  background: #121212;
  color: #ffffff;
}

.dark .side-panel {
  background: #1e1e1e;
  color: #ffffff;
}

.dark .hint {
  color: #bbbbbb;
}

/* MOBILE */
@media (max-width: 768px) {

  body {
    overflow: hidden;
  }

  .container {
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    border: none;
  }

  textarea {
    width: 100%;
    height: 58dvh;
    font-size: 14px;
    border-bottom: 3px solid #000;
  }

  .side-panel {
    width: 100%;
    height: 42dvh;
    border-left: none;
    border-top: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .stats {
    margin-bottom: 6px;
  }

  #saveBtn,
  #pdfBtn,
  #darkModeBtn {
    width: 95%;
    padding: 10px;
    font-size: 15px;
    margin: 4px auto;
  }

  .font-controls {
    margin-top: 5px;
    font-size: 18px;
  }

  .hint {
    font-size: 11px;
    margin-top: 4px;
  }

  .mic {
    margin-top: 4px;
    text-align: center;
  }

  #micBtn {
    font-size: 34px;
  }
}


